node_modules/
.pnp.cjs
.pnp.loader.mjs
.yarn/
.turbo/
.next/
out/
dist/
coverage/
!.yarn/patches/
!.yarn/plugins/\*/
!.yarn/releases/
!.yarn/sdks/
!.yarn/versions/
.DS_Store
Thumbs.db
*.log
*.pid
*.seed
*.swp
*.swo
.env
.env.*
!.env.example
package-lock.json
yarn.lock
pnpm-lock.yaml
*.local
.pnpm-store/
